In [10]:
# Import CSV file alumini.csv, pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe
import pandas as pd

alumni = pd.read_csv('alumni.csv')

print(alumni.head())  
print()
print(alumni.tail())  
print()
print(alumni.dtypes)  
print()
print(alumni.info())  
print()
print(alumni.describe())

   Year Graduated  Gender Marital Status          Diploma Type Defaulted  \
0            2004    Male         Single      Standard Diploma       Yes
1            2005    Male        Married  College Prep Diploma        No
2            2006  Female         Single      Standard Diploma       Yes
3            2007    Male        Married      Standard Diploma        No
4            2006  Female       Divorced      Standard Diploma       Yes

   Salary    Fee Savings ($)
0  125000  10869     $86,000
1  100000  10869    $116,000
2   70000  10869     $52,000
3  120000  10869     $76,000
4   95000  11948     $52,000

    Year Graduated  Gender Marital Status          Diploma Type Defaulted  \
83            2007    Male         Single      Standard Diploma        No
84            2008       M         Single  College Prep Diploma       Yes
85            2009    Male        Married      Standard Diploma        No
86            2005  Female       Divorced      Standard Diploma       Yes
87            2006    Male        Married      Standard Diploma       Yes

    Salary    Fee Savings ($)
83   75000  12066     $16,000
84   65000  12066     $72,000
85   75000  12066     $46,000
86  100000  12067     $32,000
87   75000  12067     $67,000

Year Graduated     int64
Gender            object
Marital Status    object
Diploma Type      object
Defaulted         object
Salary             int64
Fee                int64
Savings ($)       object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year Graduated  88 non-null     int64
 1   Gender          88 non-null     object
 2   Marital Status  88 non-null     object
 3   Diploma Type    88 non-null     object
 4   Defaulted       88 non-null     object
 5   Salary          88 non-null     int64
 6   Fee             88 non-null     int64
 7   Savings ($)     88 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.6+ KB
None

       Year Graduated         Salary           Fee
count       88.000000      88.000000     88.000000
mean      2006.477273   84090.909091  11708.727273
std          1.560852   21234.128008   1110.647949
min       2004.000000   35000.000000  10869.000000
25%       2005.000000   75000.000000  10968.000000
50%       2006.500000   75000.000000  11696.000000
75%       2008.000000   90000.000000  12058.250000
max       2009.000000  160000.000000  20960.000000

In [13]:
# Use clean_currency method below to strip out commas and dollar signs from Savings ($) column and put into a new column called 'Savings'.Uncomment 'alumni.dtypes.Savings' to check that the type change has occurred
def cleanCurrency(number):
    if isinstance(number, str):
        return float(number.replace(',', '').replace('$', ''))
    else:
        return number
alumni['Savings'] = alumni['Savings ($)'].apply(cleanCurrency)
print(alumni.dtypes['Savings'])

float64

In [8]:
# Run the 'alumni["Gender"].value_counts()' to see the incorrect 'M' fields that need to be converted to 'Male', Now use a '.str.replace' on the 'Gender' column to covert the incorrect 'M' fields
print(alumni['Gender'].value_counts()) 
alumni['Gender'] = alumni['Gender'].str.replace('^M$', 'Male', regex=True)
print(alumni['Gender'])

Gender
Male      49
Female    39
Name: count, dtype: int64
0       Male
1       Male
2     Female
3       Male
4     Female
       ...
83      Male
84      Male
85      Male
86    Female
87      Male
Name: Gender, Length: 88, dtype: object

In [14]:
print("Median Salary:", alumni['Salary'].median())
print("Mean Salary:", alumni['Salary'].mean())
print("Standard Deviation of Salary:", alumni['Salary'].std())

highFee = alumni[alumni['Fee'] > 15000]
print(highFee)

print(alumni['Diploma Type'].value_counts())

Median Salary: 75000.0
Mean Salary: 84090.90909090909
Standard Deviation of Salary: 21234.1280081736
    Year Graduated Gender Marital Status      Diploma Type Defaulted  Salary  \
18            2006   Male        Married  Standard Diploma        No  140000

      Fee Savings ($)  Savings
18  20960     $72,000  72000.0
Diploma Type
Standard Diploma        65
College Prep Diploma    23
Name: count, dtype: int64