In [1]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
import pandas as pd
data = [1,2,3,4,5,6]
mySeries = pd.Series(data)

print(mySeries)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [2]:
# Write a Pandas program to convert a Panda module Series to Python list and it's type.
myList = mySeries.tolist()
print(myList)
print(type(myList))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [3]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
import numpy as np

series1 = pd.Series([1,2,3,4,5,6])
series2 = pd.Series([7,8,9,10,11,12])

sum = series1 + series2
print("Sum:")
print(sum)

subtract = series1 - series2
print("Subtraction:")
print(subtract)

multiply = series1 * series2
print("Multiplication:")
print(multiply)

div = series1 / series2.where(series2 != 0, np.nan) # our own series so not necessary 
print("Division:")
print(div)

Sum:
0     8
1    10
2    12
3    14
4    16
5    18
dtype: int64
Subtraction:
0   -6
1   -6
2   -6
3   -6
4   -6
5   -6
dtype: int64
Multiplication:
0     7
1    16
2    27
3    40
4    55
5    72
dtype: int64
Division:
0    0.142857
1    0.250000
2    0.333333
3    0.400000
4    0.454545
5    0.500000
dtype: float64

In [4]:
# Write a Pandas program to compare the elements of the two Pandas Series.
comparison = series1.compare(series2)
print(comparison)

   self  other
0     1      7
1     2      8
2     3      9
3     4     10
4     5     11
5     6     12

In [5]:
# Write a Pandas program to convert a dictionary to a Pandas series.
myDictionary = {'name':'Yahya', 'age':20, 'last name':'Ehsan'}
dictSeries = pd.Series(myDictionary)

print(dictSeries)

name         Yahya
age             20
last name    Ehsan
dtype: object

In [6]:
# Write a Pandas program to change the data type of given a column or a Series
dataToChange = pd.Series([1,2,3,'4',5.5])
changedData = dataToChange.astype(int)
print(changedData)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#Write a Pandas program to convert Series of lists to one Series.
seriesOfLists = pd.Series([['a', 'b'], ['c'], ['d', 'e', 'f'],[1,2,3]])
oneList = []
for sublist in seriesOfLists:
    for item in sublist:
        oneList.append(item)
oneSeries = pd.Series(oneList)
print(oneSeries)

0    a
1    b
2    c
3    d
4    e
5    f
6    1
7    2
8    3
dtype: object

In [9]:
# Write a Pandas program to sort a given Series.
mySeries = pd.Series([3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 60])
sortedSeries = mySeries.sort_values()
print(sortedSeries)

1      1
3      1
6      2
0      3
9      3
2      4
8      5
4      5
7      6
5      9
10    60
dtype: int64

In [11]:
#Write a Pandas program to add some data to an existing Series
mySeries = pd.Series([3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 60])
dataToAdd = pd.Series([45,54])
newSeries = pd.concat([mySeries, dataToAdd],ignore_index = True)
print(newSeries)

0      3
1      1
2      4
3      1
4      5
5      9
6      2
7      6
8      5
9      3
10    60
11    45
12    54
dtype: int64

In [13]:
#Write a Pandas program to change the order of index of a given series.
mySeries = pd.Series([10, 20, 30, 40])
newIndex = ['A','B','C','D']
mySeries.index = newIndex
print(mySeries)

A    10
B    20
C    30
D    40
dtype: int64

In [14]:
#Write a  Pandas program to create a dataframe from a dictionary and display it.
myDictionary = {'name':'Yahya', 'age':20, 'last name':'Ehsan'}
df = pd.DataFrame(myDictionary, index=[0])
print(df)

    name  age last name
0  Yahya   20     Ehsan

In [17]:
# Write a Pandas program to view the first 5 rows of a DataFrame
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F']}
df = pd.DataFrame(myDataFrame)
print(df.head())

   Numbers Letters
0        1   Yahya
1        2   Ehsan
2        3     Yes
3        4      No
4        5       A

In [18]:
# Write a Pandas program to select a specific column from a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F']}
df = pd.DataFrame(myDataFrame)
numbersColumn = df['Numbers']
print(numbersColumn)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Numbers, dtype: int64

In [19]:
# Write a Pandas program to filter rows in a DataFrame where a specific column meets a certain condition?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F']}
df = pd.DataFrame(myDataFrame)
filteredDataFrame = df[df['Numbers'] > 5]
print(filteredDataFrame)

   Numbers Letters
5        6       B
6        7       C
7        8       D
8        9       E
9       10       F

In [21]:
# Write a Pandas program to select multiple columns from a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
specificColumns = df[['Numbers', 'Letters']]
print(specificColumns)

   Numbers Letters
0        1   Yahya
1        2   Ehsan
2        3     Yes
3        4      No
4        5       A
5        6       B
6        7       C
7        8       D
8        9       E
9       10       F

In [22]:
# Write a Pandas program to add a new column to an existing DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
df['NewColumn'] = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
print(df)

   Numbers Letters  Other  NewColumn
0        1   Yahya     11         21
1        2   Ehsan     12         22
2        3     Yes     13         23
3        4      No     14         24
4        5       A     15         25
5        6       B     16         26
6        7       C     17         27
7        8       D     18         28
8        9       E     19         29
9       10       F     20         30

In [24]:
# Write a Pandas program to rename a column in a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
df.columns = ['Numbers', 'Letters', 'NewColumn'] # df.rename(columns={'Other': 'NewColumn'}) this too?
print(df)

   Numbers Letters  NewColumn
0        1   Yahya         11
1        2   Ehsan         12
2        3     Yes         13
3        4      No         14
4        5       A         15
5        6       B         16
6        7       C         17
7        8       D         18
8        9       E         19
9       10       F         20

In [26]:
# Write a Pandas program to use to drop a column or a row from a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
droppedDf = df.drop('Other', axis = 1)
print(droppedDf)

   Numbers Letters
0        1   Yahya
1        2   Ehsan
2        3     Yes
3        4      No
4        5       A
5        6       B
6        7       C
7        8       D
8        9       E
9       10       F

In [27]:
# Write a Pandas program to calculate the mean of a numerical column in a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
mean = df['Numbers'].mean()
print(mean)

5.5

In [28]:
# Write a Pandas program to find the unique values in a specific column of a DataFrame?
myDataFrame = {'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 11, 11, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
uniqueValues = df['Other'].unique()
print(uniqueValues)

[11 14 15 16 17 18 19 20]

In [30]:
# Write a Pandas program to sort a DataFrame by one or more columns?
myDataFrame = {'Numbers': [10, 2, 4, 3, 5, 6, 7, 8, 9, 1], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
df = pd.DataFrame(myDataFrame)
sortedByNum = df.sort_values(by='Numbers')
print(sortedByNum)

   Numbers Letters  Other
9        1       F     20
1        2   Ehsan     12
3        3      No     14
2        4     Yes     13
4        5       A     15
5        6       B     16
6        7       C     17
7        8       D     18
8        9       E     19
0       10   Yahya     11

In [33]:
# Write a Pandas program to use to save a DataFrame as a CSV file?
myDataFrame = {'Numbers': [10, 2, 4, 3, 5, 6, 7, 8, 9, 1], 
               'Letters': ['Yahya', 'Ehsan', 'Yes', 'No', 'A', 'B', 'C', 'D', 'E', 'F'], 
               'Other': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
               'New Column':[21,22,23,34,32,12,223,32,12,32]}
df = pd.DataFrame(myDataFrame)
df.to_csv('myFile.csv')

In [ ]:
# Write a Pandas program to read a CSV file into a DataFrame?
df = pd.read_csv('myFile.csv') # path to csv file (same directory)
print(df.head())

In [ ]:
# Write a Pandas program to read data from an Excel file into a DataFrame?
df = pd.read_excel('myFile.xlsx') # path to excel file (same directory)
print(df.head())